@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #1e40af;
  --primary-hover: #1e3a8a;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Стилі для кнопок */
.btn-primary {
  background-color: var(--primary);
  color: white;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

body {
  background-color: #111827; /* bg-gray-900 */
  color: #f3f4f6; /* text-gray-100 */
  min-height: 100vh; /* min-h-screen */
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
